.card__film {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  background: rgba(168, 168, 168, 0.9);
  color: black;
  border: 2px solid white;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.poster {
  max-width: 350px;
  margin-right: 10px;
}

.description {
  width: 350px;
}

.back__btn {
  background-color: initial;
  border: 1px solid white;
  color: white;
  margin-left: 50px;
  padding: 5px;
  cursor: pointer;
}
